* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }


        * { box-sizing: border-box; }

body {
  /*animation: backcolor 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);*/
  background-color: rgb(255, 252, 252);
  height: 5500px;
  overflow-x: hidden;
}

@keyframes backcolor {
    70% {
        background-color: rgb(248, 231, 231);
    }

/*
    100% {
      background-color: rgb(255, 255, 255);
    }
*/

}

h1, h2, h3, h4, h5, h6, p, label {
    font-family: 'Labrada', serif;
    color: white;
}

.rightcontent {
  position: absolute;
  padding-top: 25px;
  top: 0%;
  margin: 0;
}

.whitespace {
    position: fixed;
    width: 100%;
    top: 0;
    height: 23px;
    background-color: white;
    z-index: 1000;
}

/*   Landing Page     */

#landingpage {
    width: 100%;
    height: 600px;
}

#landingpage .row{
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    top: 200px;
}

#landingpage h2{
    font-size: 60px;
}
/*     About      */

#aboutme {
    position: relative;
    top: 150px;
}
#aboutcontent {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

#aboutme h2 {
    margin-left: 2%;
}

#aboutme p {
    color: black;
    background-color: rgb(250, 244, 244);
    margin-left: -2%;
    
}

#aboutme img {
    object-fit: cover;
}


/*     Menu       */


  .menu {
    width: 100%;
    height: 800px;
    margin-top: 200px;
  }

.menu h2 {
    left: 2%;

}
.menu h3, .menu h4, .menu p {
    text-align: center;
    margin: 10px 0;
}
.menu h3 {
    color: rgb(102, 46, 46);
    letter-spacing: 8px;
    margin-top: 35px;
}

.menu h4 {
    color: #3f3f3f;
}

.menu p {
    color: #949494;
}


/*Grid and grid-item code sourced from https://masonry.desandro.com/*/
/* ---- grid ---- */

#gallerytitle {
    position: relative;
    bottom: 55px;
    font-size: 50px;
    left: 10px;
}

.grid {
  position: absolute;
  background: #ffffff00;
  width: 100%;
  left: 0%;
  margin: 0;
  margin-top: 1100px;
}



/* ---- grid-item ---- */

.grid-sizer,
.grid-item {
  width: 50%;
  overflow: hidden;
  object-fit: cover;
}


.grid-item {
  height: 420px;
  float: left;
  background: rgba(255, 255, 255, 0);
  border: 0px solid #000000;
  border-radius: 0px;
  padding: 12px;
}

.grid-item--height2 { height: 500px; }


.sidenav {
  position: fixed;
  width: 20%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.sidenavlinks {
  list-style-type: none;
  padding-left: 0;
}

.sidenavlinks li {
  padding: 20px;
}

.sidenavlinks li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Labrada', serif;
  text-transform: uppercase;
}

.sidenavbutton {
  position: absolute;
  border: 1px solid black;
  width: 110px;
  height: 30px;
  padding: 0;
  left: 27%;
}

.titletext {
  color: #000000;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
}

footer h4 {
  font-size: 10px;
}

#borderbottom {
  position: absolute;
  width: 200px;
  border-bottom: 1px solid #000000;
  left: 30px;
}

@media only screen and (max-width: 1012px) {
    .sidenav, .whitespace {
        display: none;
    }
    .rightcontent {
        width: 100%;
        left: 0%;
      }
    .grid {
        left: -1%;
    }
    .grid-item{
        height: 200px;
    }
    .grid-item--height2 {
        height: 300px;
    }
    .grid-item img {
        width: 400px;
    }
    .subtitle{
        margin-top: 140px;
    }
}

@media only screen and (min-width: 1012px) {
  .rightcontent {
    width: 79%;
    left: 20%;
  }
}





/*     Reservation      */



#reservationtitle {
    position: static;
    font-weight: 400;
    font-size: 70px;
    width: 40%;
    font-family: 'Crimson Text', serif;
}



/*     Form      */

form {
    position: static;
    margin: 10px;
    padding-right: 15px;
    width: 100%;
    left: 0%;
    top: -170px;
}

form h4 {
    margin: 0;
    font-size: 17px;

}

select option {
    background-color: #00000000;
  }

  select {
    background-color: #00000000;
  }



/*Footer*/

.footer {
    position: static;
    max-width: none;
    width: 100%;
    height: auto;
    background-color: rgb(20, 20, 20);
    padding: 0;
    margin: 0;
    z-index: 1000;
}
.topfooter {
    height: 200px;
    margin: 20px 10% 0;
}

.borderfoot {
    margin: auto;
    width: 80%;
    border-top: 1px solid rgb(105, 105, 105);
    margin-top: 30px;
    padding: 10px;
}

.logo img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.footer h4 {
    font-size: 30px;
    font-weight: 600;
}

.footer {
    z-index: 1000;
    left: 5%;
}


/* Coming Soon */

.comingsooon {
    width: 100%;
    height: 400px;
    background-color: rgb(230, 226, 171);
    overflow: hidden;
}






/* NOTE: ALL OF THE FOLLOWING CODE WAS FOR PREVIOUS ITERATIONS OF MY IMAGE GALLERY

#nav{
    position:absolute;
    top:0;
    width:100%;
    height: 70px;
    padding: 20px;
    z-index:3;
    background-color: rgba(0, 0, 0, 0);
}
.navleft {
    width: 60%;
    float: left
}
.navright {
    float: left;
    width: 40%;  
}      
.navleft a, .navright a{
     text-decoration:none;
     padding:10px;
     color: #fff;
     font-family: Arial, Helvetica, sans-serif;
} 
.navleft a:hover, .navright a:hover{
    text-decoration: underline;
}
.navrightlink {
    float: right;
    padding-right: 20px;
}
.textfade {
    position: absolute;
    font-family: Arial;
    font-size: 150px;
    animation: titlefade 2s;
    animation-timing-function: ease-out;
    z-index: 3;
    top:25%;
    width: 100%;
    color: rgb(255, 255, 255);
}

.infade {
    animation: fadeIn 2s;
    animation-timing-function: ease-in-out;
}

.outfade {
    animation: fadeOut 2s;
    animation-timing-function: ease-in-out;
}

.indexrowgallery {
    position: static;
    top: 600px;
}
.indexrow {
    margin: 50px 0;
    position: static;
    height: 300px;
    min-width: 2000px;
    background-color: black;
    display: block;
}



@keyframes titlefade {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
       opacity: 0;
       filter: blur(20px);
    }
    100% {
       opacity: 1;
       filter: blur(0px);
    }
}

@keyframes fadeOut {
        0% {
        opacity: 1;
        filter: blur(0px);
    }
        100% {
        opacity: 0;
        filter: blur(20px);
    }
}


/*Index Masonry*/



/*Gallery*/

/*
.pageload {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgb(255, 77, 77);
}

.pageload h1 {
    color: white;
    font-family: 'RichEatinAllCaps';
    font-weight: normal;
    font-style: normal;
    font-size: 200px;
}



#flexg {
    position: fixed;
}

.galleryview {
    position: absolute;
    width: 800px;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 15px;
    animation: viewslide 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    overflow-y: hidden;
}

.galleryblock {
    position: absolute;
    width: 800px;
    top: 0px;
    animation: imgslide 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes viewslide{
    0% {
        left: -10%;
    }
    93.06% {
        opacity: 1;
    }
    100% {
        left: 10%;
        opacity: 0;
    }
}

@keyframes imgslide {
    to {
        top: -7200px
    }
}

.pagecolor {
    position: fixed;
    width: 100%;
    height: 100%;
    animation: pagecolor 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes pagecolor {
    60% {
        background-color: white;
    }
    100% {
        background-color: wheat;
    }
}

.galfooter {
    animation: footerrev 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

.galfooter h2{
    font-family: 'YahfieNormal';
    font-size: 15vw;
    font-weight: 600;
    text-transform: capitalize;
    font-style: normal;
    display: block;
    color: rgb(0, 0, 0);
    margin: 0;
}

.galfooter a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 26);
}

@keyframes footerrev {
    0% {
        opacity: 0;
    }
    98% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




/*
.galleryflex > div {
    flex: 0 0 auto;
}


/*
.galleryflex {
    animation: slide 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}

@keyframes slide{
    from {
        left: 40%;
    }
    to {
        left: 50%;
    }
}




