body {
    background-color: rgb(252, 235, 230);
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(37, 34, 34);
  }
  
.nav li {
    float: left;
  }
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.nav li a:hover {
    background-color: rgb(37, 21, 21);
  }


  
.par1{
 
    position: relative;
    opacity: 70%;
    min-height:600px;
    
    background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    
    
    }
    
    .par1 {
        background-image: url("images/pike.jpg");
    }
