body {
    background-color: rgb(252, 235, 230);
    height: 100%;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(37, 34, 34);
  }
  
.nav li {
    float: left;
  }
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.nav li a:hover {
    background-color: rgb(37, 21, 21);
  }

.active {
    background-color: rgb(33, 34, 61);
    border: 1px solid rgb(255, 255, 255);
}


